/* GENERAL STYLES */
body {
    background-color: #062958;
    font-family: 'Roboto', sans-serif;
}

/* NAVBAR STYLES */
.navbar {
    background-color: #001227;
}

.logo {
    color: white;
    font-family: 'Space Mono',  monospace;
    font-weight: bold;
    font-size: 23px;
    margin: 15px 50px;
}

.logo:hover{
    color: #26BAF5;
}

#text-light .nav-item a{
    color: #d6d6d6;
}

#text-light .nav-item a:hover{
    color: white;
}

.dropdown-item:hover {
    background-color: #062958;
}

/* MAIN PAGE STYLES */
.posts-container {
    margin: 100px auto;
    margin-top: 175px;
}

.card-posts {
    background-color: #dbdbdb;
    color: black;
    margin: 50px;
}

.card-category {
    color: #0A5DA4;
    text-align: center;
}

.card-title {
    margin-bottom: 30px;
}

.card-desciption p{
    color: #6e6e6e;
    font-size: 14px;
    margin-bottom: 20px;
}

/* CATEGORY PAGE STYLES */


/* FORMS STYLE */
.create-container {
    background-color: #dbdbdb;
    border-radius: 15px;
    color: #000;
    font-size: 17pt;
    padding: 30px;
    margin: 150px auto;
}

.create-container h1 {
    margin-bottom: 50px;
    text-align: center;
}

.create-container input form:focus {
    border: 1.5px solid #062958;
}

.btn-primary {
    background-color: #0A5DA4;
    border: .5px solid #0A5DA4;
}

.btn-primary:hover {
    background-color: #26BAF5;
    border: .5px solid #26BAF5;
}

